*{
    box-sizing: border-box;
}
body,html{
    padding: 0;
    margin: 0;
}
.err{
    color: white;
    background: red;
    padding: 5px 5px;
    border-radius: 5px;
}
#download{
    position: absolute;
    right: 0px;
    margin: 5px;
    font-size: 14px;
    padding: 4px 10px;
    border: 1px solid #1060b1;
    border-radius: 5px;
    cursor: pointer;
    color: #1060b1;
}
#download:hover{
    background-color: #eee;
}
#chooseFile{
    width: 230px;
    margin: 5px;
    font-size: 14px;
    padding: 4px 10px;
    cursor: pointer;
}
#import{
    margin: 5px;
    font-size: 12px;
    padding: 2px 15px;
    border: 1px solid #1060b1;
    border-radius: 5px;
    cursor: pointer;
    color: #1060b1;
    background-color: white;
}
#import:hover{
    background-color: #eee;
}
.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 10px;
}
#myForm{
    max-width: 600px;
    margin: 15px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
#myForm div{
    margin:0px 10px;
    font-size: 18px;
}
#myForm div input{
    margin: 5px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0,0.4);
}
#myForm div input#name{
    width: 150px;
}
#myForm div input#company{
    width: 150px;
}
#myForm div input[type=text]{
    width: 120px;
    text-align: center;
}
#myForm div input[type=number]{
    width: 70px;
    text-align: center;
}
.container #myForm input.sub[type="submit"]{
    font-size: 12px;
    padding: 4px 14px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.container #myForm input.sub[type="submit"]:hover{
    background-color: #3e8c41;
}
#clearAll{
    font-size: 12px;
    padding: 4px 14px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    background-color: white;
    color: black;
}
#clearAll:hover{
    background-color: rgb(218, 218, 218);
}
#nameBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 2px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0;
}
#nameBtn li.nameList{
    padding: 4px 14px;
    margin-right: 10px;
    background-color: rgb(244, 244, 244);
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}
#nameBtn li.nameList.active{
    background-color: rgb(148, 148, 148);
    color: white;
}
#nameBtn li.nameList:hover{
    background-color: rgb(148, 148, 148);
    color: white;
}
#nameBtn li.nameList:active{
    transform: translate(1px,1px);
}
#list{

    max-width: 1000px;
    margin: 25px auto ;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}
#customerName{
    padding: 10px 20px;
    font-size: 22px;
    margin: 0;
}
.companyName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 10px 30px;
    margin: 0;
    background-color: rgb(244, 137, 137);
}
#list .result{
    font-size: 18px;
}
.listTable{
    display: flex;
    flex-direction: column;
}
.listTable .head{
    color: #777;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-top: 5px solid rgb(245, 245, 245);
    padding: 7px 20px;
    background-color: #eeeeee;
}
.listTable .head div:nth-child(4n+1){
    display: flex;
    flex-basis: 64%;
    justify-content: center;
}
.listTable .head div:nth-child(4n+2){
    display: flex;
    flex-basis: 18%;
    justify-content: center;
}
.listTable .head div:nth-child(4n+3){
    flex-basis: 9%;
    height: 0;
    margin: 2px;
}
.listTable .head div:nth-child(4n+4){
    flex-basis: 7%;
    height: 0;
}
.listTable .productlist{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 8px;
    border-top: 1px solid #ccc;
}
.listTable .productlist .add{
    position: absolute;
    top: 13px;
    left: 32px;
    color: rgba(0,0,0,0.25);
    font-size: 19px;
    transition: color 0.2s;
    cursor: pointer;
}
.listTable .productlist .add:hover{
    transition: color 0.2s;
    color: rgba(0,0,0,0.45);
}
.listTable .productlist > div:nth-child(3n+2){
    display: flex;
    flex-basis: 63%;
    justify-content: center;
}
.listTable .productlist > div:nth-child(3n+3){
    display: flex;
    flex-basis: 18%;
    justify-content: center;
}
.detailBtn{
    display: none;
}

.productlist label{
    position: relative;
    height: 22px;
    flex-basis: 8%;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #ddd;
    margin: 2px;
    text-align: center;
    padding: 3px 5px;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}
.productlist .skip{
    flex-basis: 8%;
}
.productlist label .down{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: transform 0.5s;
    width: 0px;
    height: 0px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #333;
    
}
.result .listTable .productlist .detailBtn:checked ~label .down{
    transform: translate(-50%,-50%) rotate(180deg);

}

.delete,.done{
    flex-basis: 7%;
    font-size: 16px;
    padding: 4px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
}
.done{
    min-width: 100px;
    font-size: 12px;
}
.result .listTable .productlist .detail{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
}
.result .listTable .productlist .detail> div:nth-child(2n){
    background-color: rgb(250, 250, 250);
}

.result .listTable .productlist .detail .customerDetail{
    height:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
    z-index: -10;
    transition: height 0.5s ,opacity 1s;
    opacity: 0;
}
.result .listTable .productlist .detailBtn:checked ~ .detail .customerDetail{
    transition: height 0.7s ,opacity 1s;
    transform: translateY(0px);
    height: 35px;
    z-index: 0;
    opacity: 1;
}

.result .listTable .productlist .detail .customerDetail div:nth-child(4n+1){
    display: flex;
    flex-basis: 63%;
    justify-content: center;
    font-size: 15px;
}
.result .listTable .productlist .detail .customerDetail div:nth-child(4n+2){
    display: flex;
    flex-basis: 18%;
    justify-content: center;
    font-size: 15px;
}
.edit,.cancel{
    flex-basis: 8%;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #ddd;
    margin: 2px;
    text-align: center;
    padding: 2px 3px;
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
}
.customerProductList{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 45px;
}
.customerProductList .product{
    text-align: center;
    flex-basis: 44%;
}
.customerProductList .quantity{
    text-align: center;
    flex-basis: 32%;
}
.customerListNav{
    position: absolute  ;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    width: 20px;
    height: 38px;
    background-color: #76222b;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.customerListNav:hover{
    background-color: #542739;
}
.customerListNav span{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.5s;
}
.customerListNav span i{
    font-size: 0px;
}
.customerListNav span:nth-child(1){
    transform: translateY(-7px);
}
.customerListNav span:nth-child(2){
    transform: translateY(7px);
}
.customerListNav:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #FF5F57;
    left: 0px;
    border-radius: 10px 0px 0px 10px;
    transition: 0.5s;
    opacity: 0;
    
}
.customerListNav.active:hover{
    background-color: #76222b;
}
.customerListNav.active:before{
    content: '';
    opacity: 1;
    position: absolute;
    width: 14px;
    height: 38px;
    background-color: #FF5F57;
    left: 0;
    border-radius: 7px 0px 0px 7px;
    transition: 0.5s;
}
.customerListNav.active::after{
    content: '';
    position: absolute;
    left: 5px;
    width: 0px;
    height: 0px;
    border: 5px solid;
    border-color: transparent transparent transparent #542739;
}

.customerListNav.active{
    width: 100px;
    cursor:initial;
}
.customerListNav.active span{
    position: absolute;
    width: 25px;
    height: 25px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customerListNav.active span:nth-child(1){
    transform: translateX(-10px) translateY(0px);
    background-color: #ffffff;
}
.customerListNav.active span:nth-child(2){
    transform: translateX(23px) translateY(0px);
    background-color: #FF5F57;
}
.customerListNav.active span i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #541212;
    font-size: 14px;
    transition: 0.3s;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.customerListNav.active span.editCancel{
    background-color: lightcoral;
}
.customerListNav.active span.editDone{
    background-color:turquoise;
}

.deleteCustomerCompany{
    flex-basis: 7%;
    font-size: 16px;
    padding: 4px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
    background-color:whitesmoke;
    border-radius: 7px;
    transition: transform 0.3s;
}
.deleteCustomerCompany:hover{
    transform: translateY(-1px);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}
.deleteCustomerCompany:active{
    transform:translate(0px,1px);
    transition: 0.1s;
}
/* .result table{
    position: relative;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
.result table tr{
    position: relative;
}
.result table tr th,.result table tr td{
    position: relative;
    color: #777;
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 500;
}
.result table tr th{
    width: 65%;
}
.result table tr td{
    position: relative;
    min-width: 185px;
    color: black;
}


.result table tr td.delete{
    width: 20px;
    position: absolute;
    font-size: 16px;
    padding: 4px 6px;
    margin: 3px;
    right: 0px;
}
.result table tr td.edit{
    position: absolute;
    margin: 2px;
    right: 30px;
    padding: 5px 10px;
    top: 0;
    font-size: 14px;
} */