*{
    box-sizing: border-box;
}
body,html{
    padding: 0;
    margin: 0;
}
.err{
    color: white;
    background: red;
    padding: 5px 5px;
    border-radius: 5px;
}

#nameBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 10px 2px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0;
}
#nameBtn li{
    padding: 7px 25px;
    margin-right: 10px;
    background-color: rgb(238, 238, 238);
    border: 1px solid #ccc;
    border-radius: 15px;
}
#list{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 245, 245);
}
#customerName{
    padding: 10px 20px;
    font-size: 22px;
    margin: 0;
}
#companyName{
    
    font-size: 18px;
    padding: 10px 50px;
    margin: 0;
    background-color: rgb(244, 137, 137);
}
#list #result{
    font-size: 18px;
}
.listTable{
    display: flex;
    flex-direction: column;
}
.listTable .head{
    color: #777;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-top: 5px solid rgb(245, 245, 245);
    padding: 7px 10px;
    background-color: #eeeeee;
}
.listTable .head div:nth-child(4n+1){
    display: flex;
    flex-basis: 65%;
    justify-content: center;
}
.listTable .head div:nth-child(4n+2){
    display: flex;
    flex-basis: 17%;
    justify-content: center;
}
.listTable .head div:nth-child(4n+3){
    flex-basis: 7%;
    height: 0;
    margin: 2px;
}
.listTable .head div:nth-child(4n+4){
    flex-basis: 5%;
    height: 0;
}
.listTable .productlist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    border-top: 1px solid #ccc;
}
.listTable .productlist > div:nth-child(2n+1){
    display: flex;
    flex-basis: 65%;
    justify-content: center;
}
.listTable .productlist > div:nth-child(2n+2){
    display: flex;
    flex-basis: 17%;
    justify-content: center;
}
#detail{
    display: none;
}
.productlist label{
    flex-basis: 6%;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #ddd;
    margin: 2px;
    text-align: center;
    padding: 1.5px 5px;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
}
.delete{
    flex-basis: 5%;
    font-size: 16px;
    padding: 4px;
    margin: 3px;
    text-align: center;
}
#result .listTable .productlist .detail{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: white;
    justify-content: center;
}
#result .listTable .productlist .detail .customerDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#result .listTable .productlist .detail .customerDetail div:nth-child(4n+1){
    display: flex;
    flex-basis: 65%;
    justify-content: center;
}
#result .listTable .productlist .detail .customerDetail div:nth-child(4n+2){
    display: flex;
    flex-basis: 17%;
    justify-content: center;
}
.edit{
    flex-basis: 6%;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #ddd;
    margin: 2px;
    text-align: center;
    padding: 1.5px 5px;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
}
#result .listTable .productlist #detail:checked ~ .detail{
    display: none; 
}
/* #result table{
    position: relative;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
#result table tr{
    position: relative;
}
#result table tr th,#result table tr td{
    position: relative;
    color: #777;
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 500;
}
#result table tr th{
    width: 65%;
}
#result table tr td{
    position: relative;
    min-width: 185px;
    color: black;
}


#result table tr td.delete{
    width: 20px;
    position: absolute;
    font-size: 16px;
    padding: 4px 6px;
    margin: 3px;
    right: 0px;
}
#result table tr td.edit{
    position: absolute;
    margin: 2px;
    right: 30px;
    padding: 5px 10px;
    top: 0;
    font-size: 14px;
} */