*{
    box-sizing: border-box;

}
html{
    height: 100vh;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
.err{
    color: white;
    background: red;
    padding: 5px 5px;
    border-radius: 5px;
}
.container{
    position: fixed;
    height: 100vh;
    width: 350px;
    z-index: 100;
    background-color: rgb(255, 220, 199);
    
    transform: translateX(-340px);
    transition: transform 1s;
    user-select: none;
    -webkit-user-select: none;
}
.container.open{
    transition: transform 1s;
    transform: translate(0vw);
}
.fa-square-plus.btn {
    position: absolute;
    color: rgb(216, 75, 75);
    font-size: 40px;
    top: 8px;
    right: -44px;
    transition: opacity 1s,transform 0.5s,color 0.3s;
    transform: translateX(-50px);
    opacity: 0;
    z-index: -5;
}
.fa-square-plus.btn.openInput{
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 1s transform 0.5s;
    z-index: 10;
    cursor: pointer;
}
.fa-square-plus.btn.openInput:hover{
    transition: 0.3s;
    color: rgb(148, 52, 52);
}
.fa-square-minus{
    position: absolute;
    color: rgb(216, 75, 75);
    font-size: 40px;
    top: 8px;
    right: 7px;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s,transform 0.5s,color 0.3s;
    z-index: -5;
}
.fa-square-minus.closeInput{
    transition: opacity 1s transform 0.5s;
    transform: translateX(0px);
    opacity: 1;
    z-index: 10;
    cursor: pointer;
}
.fa-square-minus.closeInput:hover{
    transition: 0.3s;
    color: rgb(148, 52, 52);
}
section h1{
    position: relative;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 20px;
}
.container2{
    min-height: 100vh;
}
#myForm{
    max-width: 600px;
    padding: 0px 20px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 90vh;
}
#myForm div{
    margin:0px 10px;
    font-size: 18px;
}
#myForm div label{
    font-size: 18px;
}
#myForm div input{
    height: 24px;
    margin: 10px 0px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.803);

}
#myForm div input#name{
    width: 155px;
}
#myForm div input#company{
    width: 192px;
}
#myForm div input#product{
    width: 205px;
}
#myForm div input[type=text]{
    text-align: center;
}
#myForm div input[type=number]{
    width: 70px;
    text-align: center;
}
#myForm .subBtn{
    width: 100%;
    margin-top: 27px;
    display: flex;
    justify-content: flex-end;
}
#clearAll{
    height: 37px;
    font-size: 15px;
    margin-top: 10px;
    padding: 9px 19px;
    margin-right: 30px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    background-color: white;
    color: black;
}
.container #myForm input.sub[type="submit"]{
    height: 37px;
    font-size: 15px;
    padding: 9px 24px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-right: 30px;
}
.container #myForm input.sub[type="submit"]:hover{
    background-color: #3e8c41;
}
#clearAll:hover{
    background-color: rgb(218, 218, 218);
}
.upload{
    position: absolute;
    bottom: 50px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#chooseFile{ 
    width: 220px;
    margin: 5px;
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
}
#import{
    margin-right: 20px;
    font-size: 12px;
    padding: 2px 15px;
    border: 1px solid #1060b1;
    border-radius: 5px;
    cursor: pointer;
    color: #1060b1;
    background-color: rgb(254, 253, 252);
}
#import:hover{
    background-color: #eee;
}
#download{
    bottom: 10px;
    position: absolute;
    right: 0px;
    margin-right: 20px;
    font-size: 14px;
    padding: 4px 10px;
    background-color:rgb(254, 253, 252);
    border: 1px solid #1060b1;
    border-radius: 5px;
    cursor: pointer;
    color: #1060b1;
}
#download:hover{
    background-color: #eee;
}


#nameBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}
#nameBtn li.nameList{
    padding: 4px 16px;
    margin: 5px 7px;
    background-color: rgb(244, 244, 244);
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}
#nameBtn li.nameList.active{
    background-color: rgb(159, 23, 23);
    color: white;
}
#nameBtn li.nameList:hover{
    background-color: rgb(255, 134, 134);
    
}
#nameBtn li.nameList:active{
    transform: translate(1px,1px);
}
#nameBtn li.nameList.active:hover{
    background-color: rgb(159, 23, 23);
}
#list{

    max-width: 1000px;
    margin: 25px auto ;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}
#customerName{
    padding: 15px 20px;
    font-size: 22px;
    margin: 0;
}
.companyName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 10px 30px;
    margin: 0;
    background-color: rgb(244, 137, 137);
}
#list .result{
    font-size: 18px;
}
.listTable{
    display: flex;
    flex-direction: column;
}
.listTable .head{
    color: #777;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-top: 5px solid rgb(245, 245, 245);
    padding: 7px 20px;
    background-color: #eeeeee;
}
.listTable .head div:nth-child(4n+1){
    display: flex;
    flex-basis: 64%;
    justify-content: center;
}
.listTable .head div:nth-child(4n+2){
    display: flex;
    flex-basis: 18%;
    justify-content: center;
}
.listTable .head div:nth-child(4n+3){
    flex-basis: 9%;
    height: 0;
    margin: 2px;
}
.listTable .head div:nth-child(4n+4){
    flex-basis: 7%;
    height: 0;
}
.listTable .productlist{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 8px;
    border-top: 1px solid #ccc;
}
.listTable .productlist .add{
    position: absolute;
    top: 13px;
    left: 38px;
    color: rgba(0,0,0,0.25);
    font-size: 19px;
    transition: color 0.2s;
    cursor: pointer;
}
.listTable .productlist .add:hover{
    transition: color 0.2s;
    color: rgba(0,0,0,0.45);
}
.listTable .productlist > div:nth-child(3n+2){
    display: flex;
    flex-basis: 63%;
    justify-content: center;
}
.listTable .productlist > div:nth-child(3n+3){
    display: flex;
    flex-basis: 18%;
    justify-content: center;
}
.detailBtn{
    display: none;
}

.productlist label{
    position: relative;
    height: 22px;
    flex-basis: 8%;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #ddd;
    margin: 2px;
    text-align: center;
    padding: 3px 5px;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}
.productlist .skip{
    flex-basis: 8%;
}
.productlist label .down{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: transform 0.5s;
    width: 0px;
    height: 0px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #333;
    
}
.result .listTable .productlist .detailBtn:checked ~label .down{
    transform: translate(-50%,-50%) rotate(180deg);

}

.delete,.done{
    flex-basis: 7%;
    font-size: 16px;
    padding: 4px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
}
.done{
    min-width: 100px;
    font-size: 12px;
}
.result .listTable .productlist .detail{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
}
.result .listTable .productlist .detail> div:nth-child(2n){
    background-color: rgb(250, 250, 250);
}

.result .listTable .productlist .detail .customerDetail{
    height:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
    z-index: -10;
    transition: height 0.5s ,opacity 1s;
    opacity: 0;
}
.result .listTable .productlist .detailBtn:checked ~ .detail .customerDetail{
    transition: height 0.7s ,opacity 1s;
    transform: translateY(0px);
    height: 35px;
    z-index: 0;
    opacity: 1;
}

.result .listTable .productlist .detail .customerDetail div:nth-child(4n+1){
    display: flex;
    flex-basis: 63%;
    justify-content: center;
    font-size: 15px;
}
.result .listTable .productlist .detail .customerDetail div:nth-child(4n+2){
    display: flex;
    flex-basis: 18%;
    justify-content: center;
    font-size: 15px;
}
.edit,.cancel{
    flex-basis: 8%;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #ddd;
    margin: 2px;
    text-align: center;
    padding: 2px 3px;
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
}
.customerProductList{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 48px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}
.customerProductList .product{
    text-align: center;
    flex-basis: 44%;
}
.customerProductList .quantity{
    text-align: center;
    flex-basis: 32%;
}
.customerListNav{
    position: absolute  ;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    width: 20px;
    height: 38px;
    background-color: #d55967;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.customerListNav:hover{
    background-color: #542739;
}
.customerListNav span{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.5s;
}
.customerListNav span i{
    font-size: 0px;
}
.customerListNav span:nth-child(1){
    transform: translateY(-7px);
}
.customerListNav span:nth-child(2){
    transform: translateY(7px);
}
.customerListNav:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #FF5F57;
    left: 0px;
    border-radius: 10px 0px 0px 10px;
    transition: 0.5s;
    opacity: 0;
    
}
.customerListNav.active:hover{
    background-color: #76222b;
}
.customerListNav.active:before{
    content: '';
    opacity: 1;
    position: absolute;
    width: 14px;
    height: 38px;
    background-color: #FF5F57;
    left: 0;
    border-radius: 7px 0px 0px 7px;
    transition: 0.5s;
}
.customerListNav.active::after{
    content: '';
    position: absolute;
    left: 5px;
    width: 0px;
    height: 0px;
    border: 5px solid;
    border-color: transparent transparent transparent #542739;
}

.customerListNav.active{
    width: 100px;
    cursor:initial;
    background-color: #542739;
}
.customerListNav.active span{
    position: absolute;
    width: 25px;
    height: 25px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customerListNav.active span:nth-child(1){
    transform: translateX(-10px) translateY(0px);
    background-color: #ffffff;
}
.customerListNav.active span:nth-child(2){
    transform: translateX(23px) translateY(0px);
    background-color: #FF5F57;
}
.customerListNav.active span i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #541212;
    font-size: 14px;
    transition: 0.3s;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.customerListNav.active span.editCancel{
    background-color: lightcoral;
}
.customerListNav.active span.editDone{
    background-color:turquoise;
}

.deleteCustomerCompany{
    flex-basis: 7%;
    font-size: 16px;
    padding: 4px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
    background-color:whitesmoke;
    border-radius: 7px;
    transition: transform 0.3s;
}
.deleteCustomerCompany:hover{
    transform: translateY(-1px);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}
.deleteCustomerCompany:active{
    transform:translate(0px,1px);
    transition: 0.1s;
}
#scrollUp{
    display: none;
    position: fixed;
    right: 5px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(254, 184, 184);
    transition:.3s;
    cursor: pointer;
    opacity: 0.7;
}
.fa-angles-up{
    font-size: 20px;
    color: rgb(155, 23, 23);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scrollUp:hover{
    transform: translateY(-5px);
    background-color: rgb(123, 19, 19);
}
.fa-angles-up:hover{
    color: rgb(247, 208, 208);
}
.fa-bag-shopping{
    font-size: 24px;
    margin-left: 3px;
    color: rgb(240, 90, 90);
}
.fa-square-plus{
    color: rgb(216, 75, 75);
    font-size: 25px;
    margin: 0px 5px;
}
footer{
    height: 40px;
}